@import "tailwindcss";

@theme {
	--color-launion: #0b5886;
	--color-launion-light: #096db7;
	--color-launion-extra-light: #1189b2;
	--font-montserrat: "Montserrat Variable", ui-sans-serif, system-ui, sans-serif;
	--breakpoint-xs: 30rem;
	--breakpoint-2xl: 100rem;
	--breakpoint-3xl: 120rem;
}
